
body{
    margin-top:20px;
    background:#fff;
}
.drop-line{
    display: block;
}
@media screen and (max-width: 768px) {
.drop-line{
    display: block;
}
}
.inner-logo{
	margin-left: -500px;
	margin-top: -10px;
}
.main-navigation .menu li a {
    display: block;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.floating-menu-btn {
    display: block;
    position: ;
    top: 50px;
    right: 35px;
    width: 56px;
    height: 56px;
}
.floating-menu-btn .floating-menu-toggle .bar {
    width: 22px;
}
.mobile-menu-toggle .bar, .floating-menu-toggle .bar {
    display: block;
    will-change: transform, opacity;
    width: 32px;
    height: 2px;
    margin: 0 0 6px 0;
    background: #333;
    opacity: 1;
    -webkit-transform: translate(0) rotate(0deg);
    -moz-transform: translate(0) rotate(0deg);
    -ms-transform: translate(0) rotate(0deg);
    -o-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg);
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.floating-header {
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.floating-header .site-logo {
    max-width: 79px;
    padding: 0;
    margin: 0 !important
}

.floating-header+* {
    padding-top: 190px
}

@media screen and (max-width: 768px) {
    .floating-header {
        padding: 25px 15px
    }
    .floating-header+* {
        padding-top: 175px
    }
}

.floating-header .main-navigation-wrap {
    position: fixed;
    z-index: 110;
    display: table;
    width: 300px;
    height: 200px;
    top: 110px;
    left: 50%;
    margin-left: -150px;
    overflow: hidden;
    visibility: hidden
}

.floating-header .main-navigation {
    top: auto;
    right: auto;
    padding: 0;
    top: -110px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s 0.2s;
    -o-transition: all 0.35s 0.2s;
    transition: all 0.35s 0.2s
}


.floating-header .main-navigation.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.floating-menu-btn {
    z-index: 100;
    top: 50px;
    right: 35px;
    width: 56px;
    height: 56px;
    border-radius: 50%
}

.floating-menu-btn:before {
    display: ;
    position: absolute;
    z-index: -1;
    content: "";
    width: 56px;
    height: 56px;
    top: -200px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform-origin: center 30%;
    -moz-transform-origin: center 30%;
    -ms-transform-origin: center 30%;
    transform-origin: center 30%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.floating-menu-btn .floating-menu-toggle-wrap {
    position: absolute;
    z-index: 1;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 28px;
    left: 27px;
}

.floating-menu-btn .floating-menu-toggle {
    display: block;
    width: 22px;
    right: auto;
    left: 50%;
    margin-top: -25px;
    margin-left: -11px
}

.floating-menu-btn .floating-menu-toggle .bar {
    width: 22px;
    margin: 0 0 4px 0
}

.floating-menu-btn.expanded:before {
	 background-color: #fff;
    border-radius: 50%;
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
    transform: scale(80)
}
.btn-inner{
	margin-left: -250px;
}
.btn-custom{
	background-color: #CCB76;
}

@media screen and (max-width: 768px) {
    .floating-menu-btn {
        right: 15px;
        margin-top: -10px;
    }
    .btn-inner{
    	 visibility: hidden;
    }
}
/* title infomation  */
.title-infomation{
    padding-top: 50px;
    font-weight: bold;
    text-align: center;

}
/* text-infomation  */
.text-info{
    text-align: center;
}
/* Season */
.season{
    padding-top:  50px;
}
.description-season{

}
.stay-box{
    text-align: center;
}
.more-btn{
    padding-top: 80px;
    padding-bottom: 50px;
}
.moreBtn{
    border-bottom: 1px solid #3a3a3a;
    text-align: center;
}
a.moreBtn{
    color: #333;
    font-size: 1.6rem;
}
a:link {
    text-decoration: none; 
} 
a:hover{
    color: #3333;
}
.lable-food{
    display: inline-block;
    min-width: calc(2em + 20px);
    padding: 5px 10px;
    color: #fff;
    line-height: 1;
    text-align: center;
}
/* Place */
.place{
    padding-top: 40px;
}
.description-place{
	text-align: center;

}
.row-place{
padding-bottom: 40px;
}
.item{

}
.img-place{
  top: 0;
  left: 0;
}
.img-place img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.item:hover .img-place img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* EVENT */
.event{
    padding-top: 60px;
    border-top:1px solid #C9C9C9;
}
@media screen and (max-width: 768px) {
    .wedding{
        padding-top: 50px;
        border-top: 1px solid #C9C9C9;
    }
    .place{
        border-top: 1px solid #C9C9C9
    }
    .moreBtn span{
        padding-bottom: 40px;
    }
}
/* Hove img */
.image{
     position: relative;
}
.thumbnail:hover .image{
	opacity: 0.8;
}
.title{
	padding-top: 20px;
	text-align: center;
}
.description{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}
/* Footer */
.footer{
    padding-top: 60px;
}
.footer-top{
	padding-bottom: 50px;
}
.footer-copyright{
	text-align: center;
	padding-left: 20px;
}
@media screen and ( max-width: 768px) {
	.bottom{
		padding-left: 40px;
	}
	.menu-footer{
		text-align: center;
	}
	.footer-logo{
		padding-left: 40px;
	}
}

@media screen and ( min-width: 768px) {
	.menu-footer{
		margin-left: -100px;
		text-align: center;
	}
}
/* button back to top */
#myBtn {
  display: none;
  position: fixed;
  background-color: #555;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  opacity: 0.5;
}

#myBtn:hover {
  background-color: #000;
}
